.logo-sidebar {
  padding: 15px 8px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.nav-menu-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  z-index: 4;
  padding-bottom: 30px;
}
.light_border {
  border-bottom: 1px solid lightgrey;
}
.nav {
  margin-top: 20px;
  display: block;
}
.nav-menu-wrapper .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 150ms ease-in;
  font-size: 15px;
  width: 215px;
  display: inline-block;
}
.nav-menu-wrapper .nav li a:hover {
  background-color: #fff9fa;
}
.active {
  background-color: #fff0f1 !important;
  color: black !important;
  box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, 0.1);
}
.nav-item {
  list-style: none;
  margin: 9px 0;
  width: 100%;
}
.icon {
  width: 25px;
  margin-right: 12px;
  font-size: 23px;
  display: inline-block;
}
.nav-menu-wrapper::-webkit-scrollbar {
  display: none;
  transition: 0.3s ease-in-out;
}
.nav-menu-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #fff0f1;
}
.dropdown_btn {
  width: 100%;
  border: none !important;
  color: #222 !important;
  display: flex !important;
  align-items: center;
  font-size: 18px;
  justify-content: flex-start;
  background-color: #fff !important;
  border-bottom: 1px solid #ece4e4 !important;
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  padding: 20px 9px !important;
  transition: 0.3s all ease-in-out;
}
.dropdown-item {
  padding-left: 10px !important;
}
.dropdown_btn:hover {
  background-color: #fff0f1 !important;
}
.dropdown_btn img {
  width: 30px;
  height: 30px;
  mix-blend-mode: darken;
  margin-right: 10px;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}
.arrow_icon {
  color: #ff385c;
  position: absolute;
  right: 6px;
  transition: all 0.5s ease-in-out;
}
