.uniform-select2 {
  height: 80px !important;
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  color:black;
  font-size: 14px;
  margin: 10px !important;
  display: flex;
  align-items: center;
}
.uniform-select2::placeholder {
  color: black;
}